.nav {
    border-bottom: 1px solid #DDDDDD;
}
.mx-4:hover{
    text-decoration: underline;
    color: #0666EB !important;
    transition: .5s ease;
}
.hamburger-list {
    border: 1px solid #191C1F;
    padding: 5px;
    border-radius: 20px;
}
.hamburger-list .hamburger {
    font-size: 14px;
}
.hamburger-list .user {
    font-size: 20px;
}
.landlords h5{
    font-size: 16px;
    margin-left: 15px;
}
.navdrop-items {
    line-height: 35px;
}
.save {
    border-radius: 40pc;
    height: 40px;
    width: fit-content;
    padding: 0 15px;
    border: 1px solid #DDDDDD;
    color: #1D234E;
    font-size: 14px;
}
.navbar-nav .nav-link.dropdown-toggle::after {
    display: none;
}


@media screen and (max-width: 767px) {
    .account-btn{
        margin: 0 auto;
        width: fit-content;
    }
}