.nav {
    border-bottom: 1px solid #DDDDDD;
}
.mx-4:hover{
    text-decoration: underline;
    color: #0666EB !important;
    transition: .5s ease;
}
.hamburger-list {
    border: 1px solid #191C1F;
    padding: 5px;
    border-radius: 20px;
}
.hamburger-list .hamburger {
    font-size: 14px;
}
.hamburger-list .user {
    font-size: 20px;
}
.landlords h5{
    font-size: 16px;
    margin-left: 15px;
}
.navdrop-items {
    line-height: 35px;
}