/* .description .prod-images .main-img {
    width: 50%;
    height: 500px;
}
.description .prod-images .main-img img{
    width: auto;
}
.description .prod-images .other-img {
    width: 50%;
    height: 500px;
}
.description .prod-images .other-img .one {
    width: 100%;
    height: auto;
}
.description .prod-images .other-img .img img{
    width: fit-content;
    height: auto;
} */



.desc-head {
    border: 1px solid #E5E5E9;
    border-radius: 15px 15px 0 0;
}
.desc-head .top .link  {
    font-weight: 500;
    font-size: 16;
    color: #191C1F4D;
    width: 200px;
    height: 60px;
    border-bottom: 3px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.desc-head .top .active  {
    color: #191c1f;
    border-bottom: 3px solid #191C1F;
}



.details .up h1 {
    font-size: 40px;
    font-weight: 700;
    color: #191C1F;
}
.details .btns button {
    width: 150px;
    height: 45px ;
    border: 1px solid #191C1F;
    color: #191C1F;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    background: transparent;
}
.details .middle {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.details .middle h3{
    font-weight: 500;
    color: #0F1D40;
    font-size: 24px;
    margin-bottom: 25px;
}
.details .middle p {
    font-weight: 400;
    color: #191C1F;
    font-size: 16px;
}
.details .aboutprop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 5px;
    column-gap: 20px;
}
.details .icons{
    row-gap: 30px;
}
.details .aboutprop button{
    width: 100%;
    height: 50px;
    border: 2px solid #E2E8F0;
    background: transparent;
    border-radius: 50px;
    color: #191C1FCC;
}