img{
    object-fit: cover !important;
}
.prod-images img {
    border-radius: 15px;
}
.description .prod-images .main-img {
    width: 50%;
    height: 500px;
}
.description .prod-images .main-img img{
    width: 100%;
    height: 100%;
}
.description .prod-images .other-img {
    width: 50%;
    height: 500px;
}
.description .prod-images .other-img .one {
    width: 100%;
    height: 100%;
}
.description .prod-images .other-img .one .img{
    width: 100%;
    height: 50%;
}
.description .prod-images .other-img .one .img:first-child{
    padding-bottom: 7px;
}
.description .prod-images .other-img .one .img:last-child{
    padding-top: 7px;
}
.description .prod-images .other-img .one .img img{
    width: 100%;
    height: 100%;
}



.desc-head {
    border: 1px solid #E5E5E9;
    border-radius: 15px 15px 0 0;
}
.desc-head .top .link  {
    font-weight: 500;
    font-size: 16;
    color: #191C1F4D;
    width: 200px;
    height: 60px;
    border-bottom: 3px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.desc-head .top .link.active  {
    color: #191c1f;
    border-bottom: 3px solid #191C1F;
}



.details .up h1 {
    font-size: 40px;
    font-weight: 700;
    color: #191C1F;
}
.details .btns button {
    width: 150px;
    height: 45px ;
    border: 1px solid #191C1F;
    color: #191C1F;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
    background: transparent;
}
.details .middle {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}
.details .middle h3{
    font-weight: 500;
    color: #0F1D40;
    font-size: 24px;
    margin-bottom: 25px;
}
.details .middle p {
    font-weight: 400;
    color: #191C1F;
    font-size: 16px;
}
.details .aboutprop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 5px;
    column-gap: 20px;
}
.details .icons{
    row-gap: 30px;
}
.details .aboutprop button{
    width: 100%;
    height: 50px;
    border: 2px solid #E2E8F0;
    background: transparent;
    border-radius: 50px;
    color: #191C1FCC;
}

.more-info .call {
    width: 100% !important;
    height: 45px;
    color: #191C1F;
    border: 1px solid #191C1F;
    border-radius: 45px;
}
.more-info .req {
    width: 100% !important;
    height: 65px;
    border-radius: 75px;
    border: 1px solid #0666EB;
    background: #0666EB;
    color: white;
}
.more-info .success {
    width: 100% !important;
    height: 65px;
    border-radius: 75px;
    border: 1px solid #28C937;
    background: #28C937;
    color: white;
    font-weight: 600;
    font-size: 18px !important;
}
.more-info .req p{
    font-size: 18px;
    color: white;
    font-weight: 500;
    line-height: 10px;
}
.more-info .req small{
    font-size: 12px;
    color: white;
    font-weight: 400;
    line-height: 10px;
}
.more-info .img img {
    width: 65px;
    height: 65px
}
.more-info .img p {
    font-size: 20px;
    font-weight: 400;
    color: #191C1F;
    line-height: 25px;
}
.more-info .msg {
    border: 1px solid #E2E8F0;
    border-radius: 10px;
    color: #191C1F;
    font-weight: 400;
}
.more-info .msg P{
    line-height: 20px;
}
.more-info form input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    outline: none;
    padding: 0 15px;
    background: transparent;
    color: #191C1F;
    margin-top: 15px;
}
.more-info form button {
    width: 100%;
    height: 45px;
    border-radius: 45px;
    border: 1px solid #191C1F;
    color: white;
    outline: none;
    background: #191C1F;
    margin-top: 20px;
    margin-bottom: 15px;
}
.more-info form p{
    text-decoration: underline;
    color: #191C1F;
    font-size: 15px;
}


.mapp {
    height: 500px;
    width: 100%;
    border: 1px solid #191C1F;
}


.last-text p {
    color: #191C1F;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
footer .footer {
    color: #464646;
    font-weight: 400;
    font-size: 14px;
}



.financing .up h3 {
    color: #191C1F;
    font-weight: 500;
    font-size: 25px;
}
.financing .input input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #E2E8F0;
    outline: none;
    color: #2B2B2B;
    font-weight: 400;
    font-size: 16px;
    background: transparent;
    padding: 0 15px;
    margin-top: 5px;
}
.financing .input input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    border-radius: 5px;
    background: #0666EB66;
    padding: 0 !important;
}
.financing input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid #0666EB;
    border-radius: 50%;
    background-color: #0666EB;
    cursor: pointer;
}
.financing .input #frais {
    background: #E2E8F0;
}
.financing .donut-chart {
    height: 250px;
    width: 100%;
    border: 1px solid #191c1f;
}
.financing ol {
    margin: 0;
    padding: 0;
}
.financing ol li {
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    width: fit-content !important;
}
/* ::placeholder {
    color: #2B2B2B;
    font-weight: 300;
} */


.toggle-container {
    position: relative;
    display: inline-block;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    display: block;
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .toggle-label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .toggle-input:checked + .toggle-label {
    background-color: #2196F3;
  }
  
  .toggle-input:checked + .toggle-label::after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }
.ranging {
    margin: 45px 0;
}
.ranging p {
    color: #323234;
    font-size: 16px;
    font-weight: 500;
    line-height: 0;
}
.ranging input {
    width: 100%;
    height: 2px;
}
.sm-line {
    width: 35px;
    height: 4px;
    background: #0666EB;
    border-radius: 5px;
}
.price {
    background: #F4F4F4;
}
.price h4 {
    color: #191C1F;    
    font-weight: 500;
    font-size: 18px;
}
.price p {
    color: #6A6A6F;    
    font-weight: 400;
    font-size: 12px;
}
.profile {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #2196F3;
}
.levy {
    width: 150px !important;
    height: 80px !important;
}
.names h4{
    font-weight: 500;
    font-size: 20px;
    color: #191C1F;
    line-height: 0px;
}
.names p{
    line-height: 15px;
    font-size: 14px !important;
    font-weight: 400;
    font-size: #75808A !important;
}

table {
    width: 100%;
    /* border: 1px solid #E2E8F0;
    border-radius: 8px; */
}
td {
    border: 1px solid #E2E8F0 !important;
    padding: 15px;
}
td label {
    color: #0F1D40 !important;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}
td select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    color: #191C1F;
    border: none;
    width: 100%;
    height: 30px;
    outline: none;
}
tr {
    border: 1px solid #E2E8F0 !important;
}



@media screen and (max-width: 767px) {
    .description .head h2 {
        font-size: 24px !important;
        font-weight: 600 !important;
    } 
    .prod-images img {
        border-radius: 10px;
    }
    .description .prod-images .main-img {
        height: 300px;
    }
    .description .prod-images .other-img {
        height: 300px;
        gap: 10px !important;
    }
    .prod-images .prod-gap {
        gap: 10px !important;
    }
    .description .prod-images .other-img .one .img:first-child{
        padding-bottom: 4px;
    }
    .description .prod-images .other-img .one .img:last-child{
        padding-top: 4px;
    }
    .desc-head .top .link  {
        width: 100%;
        height: 50px;
    }
    .details .up h1 {
        font-size: 30px;
    }
    .details .btns button {
        width: 125px;
        height: 40px;
        font-size: 14px;
    }
    .details .aboutprop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        row-gap: 5px;
        column-gap: 15px;
    }
    .details .aboutprop button{
        height: 45px;
        font-size: 14px;
        padding: 0 10px !important;
    }
    .financing form .row {
        gap: 10px !important;
    }
    .financing .input input {
        margin-top: 2px;
    }
}