ul {
    margin: 0 !important;
    padding: 0 !important;
    gap: 50px;
}
.list {
    list-style-type: none;
}
.homeFooter {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    background: white;
    border-top: 1px solid #DDDDDD;
    z-index: 100;
}


@media screen and (max-width: 1399px) {
    .homeFooter ul:first-child{
        flex-wrap: wrap;
    }
    .homeFooter ul{
        gap: 20px !important;
    }
    .homeFooter li{
        width: 175px !important;
        font-size: 13px !important;
    }
    .lang li{
        width: fit-content !important;
    }
}
@media screen and (max-width: 1199px) {
    .homeFooter {
        bottom: 0px;
    }
    .homeFooter .container {
        width: 100%;
        overflow-x: scroll;
    }
    .homeFooter .container::-webkit-scrollbar{
        display: none;
    }
    ul {
        gap: 15px !important;
    }
    li {
        font-size: 12px;
        width: 150px !important;
    }
    .list {
        font-size: 14px;
    }
    .lang {
        gap: 15px;
    }
    .lang li{
        width: fit-content !important;
    }
}
@media screen and (max-width: 767px) {
    .homeFooter {
        bottom: 0px;
        position: relative !important;
    }
    .homeFooter .container {
        width: 100%;
        overflow-x: scroll;
    }
    .homeFooter .container::-webkit-scrollbar{
        display: none;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 15px !important;
    }
    li {
        font-size: 12px;
        width: 150px !important;
    }
    .list {
        font-size: 14px;
    }
    .lang {
        gap: 15px;
    }
    .lang li{
        width: fit-content !important;
    }
}