ul {
    margin: 0 !important;
    padding: 0 !important;
    gap: 50px;
}
.lang {
    gap: 50px;
}
.list {
    list-style-type: none;
}
.homeFooter {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
    background: white;
    border-top: 1px solid #DDDDDD;
}


@media screen and (max-width: 1199px) {
    .homeFooter {
        bottom: 0px;
    }
    .homeFooter .container {
        width: 100%;
        overflow-x: scroll;
    }
    .homeFooter .container::-webkit-scrollbar{
        display: none;
    }
    ul {
        gap: 15px !important;
    }
    li {
        font-size: 12px;
        width: 150px !important;
    }
    .list {
        font-size: 14px;
    }
    .lang {
        gap: 15px;
    }
    .lang li{
        width: fit-content !important;
    }
}
@media screen and (max-width: 767px) {
    .homeFooter {
        bottom: 0px;
    }
    .homeFooter .container {
        width: 100%;
        overflow-x: scroll;
    }
    .homeFooter .container::-webkit-scrollbar{
        display: none;
    }
    ul {
        gap: 15px !important;
    }
    li {
        font-size: 12px;
        width: 150px !important;
    }
    .list {
        font-size: 14px;
    }
    .lang {
        gap: 15px;
    }
    .lang li{
        width: fit-content !important;
    }
}