body {
    font-family: "Poppins", sans-serif !important;
}
.container {
    width: 1440px !important;
}
select {
    background-color: #ffffff !important; /* Your desired background color */
    border-radius: 50px !important; /* Your desired background color */
    -webkit-background-color: #ffffff !important; /* Safari/Chrome */
    -moz-background-color: #ffffff !important; /* Firefox */
    -ms-background-color: #ffffff !important; /* Internet Explorer */
    -o-background-color: #ffffff !important; /* Opera */
    -webkit-border-radius: 50px; /* Safari/Chrome */
}
@media screen and (max-width: 767px) {
    .container {
        width: 100% !important;
    }
}