.kermeaFooter {
    background: url(../images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative !important;
    padding-top: 400px;
}
.kermeaFooter .container form .d-flex {
    border: 1px solid #191C1F;
    border-radius: 45px;
    height: 50px;
    width: 400px;
    padding: 0 5px;
}
.kermeaFooter .container form .d-flex input {
    border: 0px;
    outline: none;
    height: 40px;
    width: 100%;
    border-radius: 50px;
    padding: 0 15px;
}
.kermeaFooter .container form .d-flex button {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background: transparent;
    font-size: 12px !important;
}
.kermeaFooter .container form .d-flex button .arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #191C1F;
    color: white;
    font-size: 12px !important;
}


.kermeaFooter ul {
    margin: 0 !important;
    padding: 0 !important;
}
.kermeaFooter ul li {
    list-style-type: none !important;
    line-height: 40px;
}
.kermeaFooter ul li .links {
    text-decoration: none;
    color: #191C1F;
    font-size: 16px;
    font-weight: 300;
    list-style: none;
}
.kermeaFooter .copyright {
    border-top: 1px solid #191C1F;
}
.kermeaFooter .copyright img {
    width: 20px;
}