.account img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.account .right {
    height: 100vh;
    width: 75%;
    margin: 0 auto;
    overflow-y: scroll;
}
.account .right::-webkit-scrollbar {
    display: none;
}
.account .right select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: transparent;
    color: #1D234E;
    font-weight: 400;
    height: 35px;
    width: 50px;
    outline: none;
}
.account .right .head button {
    width: 100px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #1D234E;
    background: transparent;
    font-size: 14px;
}


.account .mylogin {
    width: 100%;
    height: 100%;
    position: relative;
}
.account .login {
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin-top: 125px;
}
.account .login .top h2 {
    line-height: 50px;
    color: #1D234E;
    font-weight: 500;
    font-size: 45px;
}
.account .login .top p {
    margin-top: 30px;
    color: #323234;
    font-weight: 400;
    font-size: 16px;
}
.account .login form label {
    margin: 15px 0 3px 0;
    color: #132453;
    font-weight: 500;
    font-size: 14px;
}
.account .login form input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-radius: 10px;
    font-size: 14px;
    color: #132453;
    background: transparent;
    border: 1px solid #E2E8F0;
    outline: none;
}
.account .login form .small {
    color: #0047FF;
    font-size: 12px;
}
.account .login form button {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    font-size: 14px;
    color: #ffffff;
    background: #0047FF;
    border: 1px ;
    outline: none;
}
.account .login form p {
    font-size: 14px !important;
    color: #97999B;
    text-align: center;
}
.account .inputs input[type="checkbox"]{
    width: 18px !important;
    height: 18px !important;
}
.account .input select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: fit-content;
}
.account .input .myflag {
    height: 50px;
    width: fit-content;
    padding: 0 15px;
    border-radius: 10px 0 0 10px;
    font-size: 14px;
    color: #132453;
    background: transparent;
    border: 1px solid #E2E8F0;
    outline: none;
}
.account input[type="tel"]{
    border-radius: 0 10px 10px 0 !important;
}
.account .inputs p {
    color: #1D234E;
    font-size: 14px;
    font-weight: 400;
    text-align: left !important;
}



.to-know {
    background: #191C1F;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
}
.know {
    width: 80%;
    /* height: ; */
}
.know h1 {
    margin-bottom: 35px;
    font-size: 40px;
    font-weight: 500;
}
.know .d-flex {
    font-size: 20px;
    font-weight: 40;
}
.or {
    background: white !important;
    color: #191C1F !important;
    font-size: 16px !important;
    border: 1px solid #191C1F !important;
}
.account .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: 150% -50%;
    width: 20px;
}


@media screen and (max-width: 767px) {
    .account .row {
        position: relative;
    }
    .account .right {
        background: #ffffff;
        backdrop-filter: blur(20px);
        border-radius: 15px;
        border: 5px solid #ffffff;
        height: 100vh;
        width: 100%;
        /* position: absolute; */
        /* left: 50%;
        top: 50%;
        translate: -50% -50%; */
    }
    .account .head {
        margin-right: 25px;
    }
    .account .login {
        width: 80%;
        height: 90vh;
        margin-top: 50px;
    }
    .account .login .top h2 {
        font-size: 36px !important;
    }
    .account .login .top p {
        margin-top: 20px;
        font-size: 14px !important;
    }
    .account .login form label {
        margin: 10px 0 2px 0 !important;
    }
}