.products {
    margin-bottom: 100px;
}
.card {
    border: none !important;
    text-decoration: none !important;
}
.card .img {
    position: relative;
    width: 100%;
    height: 300px;
}
.card .img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 0 !important;
}
.card .reaction-sale{
    z-index: 1000000 !important;
    position: absolute;
    top: 12.5%;
    left: 50%;
    translate: -50% -50%;
    width: 90%;
}
.card .linked {
    /* z-index: -1 !important; */
    position: relative;
}
.card .reaction-sale p {
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    background: #1DBF73;
}
.card .img .heart{
    margin-top: -15px;
    /* position: absolute;
    top: 20px;
    right: 20px; */
    font-size: 25px;
    color: white;
}
.card .details h4 {
    font-size: 16px;
    font-weight: 500;
    color: #222222;
}
.card .details h5 {
    font-size: 16px;
    font-weight: 400;
    color: #191C1F;
}
.card .details p {
    font-size: 14px;
    font-weight: 400;
    color: #75808A;
}
.card .details h3 {
    font-size: 20px;
    font-weight: 700;
    color: #191C1F;
}
.card .details .call {
    width: 200px;
    height: 40px;
    border: 1px solid #191C1F;
    font-size: 14px;
}




@media screen and (max-width: 767px) {   
    .card .img {
        height: 225px;
    }
    .card .img img{
        border-radius: 5px;
    } 
    .card .reaction-sale p {
        top: 7px;
        left: 10px;
        font-size: 12px;
        border-radius: 5px;
        padding: 3px 7px;
    }
    .card .img .heart{
        top: 10px;
        right: 10px;
        font-size: 20px;
    }
    .card .details h4 {
        font-size: 16px !important;
        height: 50px;
    }
    .card .details h5 {
        font-size: 14px !important;
    }
    .card .details p {
        font-size: 10px !important;
    }
    .card .details h3 {
        font-size: 20px;
    }
    .card .details .call {
        width: 100%;
    }
    
}